<ng-container *ngIf="blog$ | async as blogPosts; else loader">
    <div class="container">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <img [src]="blogPosts.featuredImageUrl" [alt]="blogPosts.title" class="img-fluid">
            <h1 class="mt-4">{{blogPosts.title}}</h1>
            <div class="d-flex justify-content-between mt-4">
                <span>{{blogPosts.author}}</span>
                <span>{{blogPosts.dateCreate | date:'dd-MM-yyyy'}}</span>
            </div>
            <div *ngIf="blogPosts.categories" class="mt-4">
                <span class="badge bg-secondary me-2" *ngFor="let category of blogPosts.categories">

                    {{category.name}}
                </span>
            </div>
            <div class="mt-4 blog-content">
                <markdown [data]="blogPosts.content"></markdown>

            </div>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    <div class="text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

</ng-template>